body{
	background-color: black;
	background-image: linear-gradient(mediumblue, midnightblue);
}

h1{
	color: white;
	font-size: 100px;
}

th{
	color: white;
}

td{
	color: white;
}

h1{
	text-align: center;
	border-style: dotted;
	border-color: yellow;
}

img{
	width: 200px;
	height: 200px;

}

table{

}

h3{
	color: yellow;
}